<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ex05</title>
</head>
<body>
    <h1 th:text="'이름: ' + ${userVO.userName}"></h1>
    <p th:text="'나이: ' + ${userVO.userAge}"></p>
    <p th:text="'이메일: ' + ${userVO.userEmail}"></p>
    <p th:text="'휴대폰번호: ' + ${userVO.userPhone}"></p>
</body>
</html>